@import url('https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');


*{
  margin: 0;padding: 0;
  box-sizing: border-box;
  font-family: "Winky Rough", sans-serif;
}

:root{
  --lead :#212121;
  --gold-finder: #4df0ff;
  --ey-ball: #eefcff;
  --hint-yellow: #ccfcfc;
  --pure-white: #fff;
}

html, body{
  height: 100%;
  width: 100%;
}

body{
  background: var(--ey-ball);
}

.wrapper{
  max-width: 1400px;
  /* background-color: #f2bd12; */
  margin: auto;
  padding-inline: 1.5rem;
}

img{
  max-width: 100%;
  height: auto;
  margin: auto;
  display: block;
  
}

.p-top{
  padding-top: 10rem;
}

.text-center{
  text-align: center;
}

.mt-4{
  margin-top: 4rem;
}

.mt-one-half{
  margin-top: 1.5rem;
}

.mt-half{
  margin-top: .5rem;
}




/* BASIC */

a{
  font-size: 1.1rem;
  text-decoration: none;
  color: var(--lead);
}

.flex{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

li{
  list-style: none;
}

.between{
  justify-content: space-between;
}
.gap-2{
  gap: 2rem;
}
.gap{
  gap:  3rem;
}

/* HEADER */

.navbar{
  min-height: 14vh;
}

.logo{
  font-size: 2rem;
  font-weight: bold;
  color: var(--gold-finder);
}

.btn{
  display: inline-block;
  padding: .9rem 2rem;
  background-color: var(--gold-finder);
  border-radius: 1rem;
  font-size: 1.1rem;
  transition: 0.3s ease-in-out;
  box-shadow: rgba(0,0,0,0.257) 0 2px 1px ;
  color: #fff;
}

.btn:hover{
 background-color: var(--lead); 
}

.cart-icon{
  font-size: 1.3rem;
  position: relative;
}
.cart-icon .cart-value{
  position: absolute;
  top: 50%;
  right: -10px;
  font-size: .85rem;
  width: 20px;
  aspect-ratio: 1;
  border-radius:  100vw;
  background-color: var(--gold-finder);
  color: var(--lead);
  text-align: center;
  line-height: 20px;
}

.desktop-action .hamburger{
font-size: 1.5rem;
display: none;


}

.mobile-menu{
  display: none;
}

/* SECTION */

.hero-section{
  /* background: gold; */
  min-height: calc(100vh - 14vh);

}

.content, .image-container, .service-card{
  flex: 1;
  flex-basis: 300px;
}

h1{
  font-size: 5.6vw;
  color: var(--lead);

}
h1 span{
  color: var(--gold-finder);
}

p{
  font-size: 1.25rem;
  color: gray;
  line-height: 1.8rem;
  font-weight: 400;
}

.para{
  margin-block: 2rem;
  max-width: 550px;
}

.social-icon{
  background: var(--hint-yellow);
  width: 3rem;
  aspect-ratio: 1;
  border-radius: 1rem;
  font-size: 1.2rem;
  line-height: 3rem;
  text-align: center;
  box-shadow: rgba(0,0,0,0.257) 0 2px 1px ;
  transition: 0.3s ease-in-out;
}

.social-icon:hover{
  background: var(--lead);
  color: var(--pure-white);
}

/* section 1 */
h5{
  font-size: 1.2rem;
  letter-spacing: .2rem;
  color: var(--gold-finder);
  text-transform: uppercase;

}

h2{
  font-size: 3.7rem;
  text-transform: capitalize;
  color: var(--lead);
}

h3{
  font-size: 2rem;
  text-transform: capitalize;
  color: var(--lead);
}

.service-card h3{
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

/* section2 */
.order-card{
  flex: 1;
  flex-basis: 300px;
  background: var(--pure-white);
   background-color: var(--pure-white);
    border: .1rem solid var(--gold-finder);
    border-radius: 2rem;
    box-shadow:  rgba(0, 0, 0, 0.223) 8px 8px 8px,
     rgba(0, 0, 0, 0.223) 8px 8px 8px inset;
     padding: 0 1rem 2rem 1rem;
    
}

.order-card img{
  width: 15rem;
  filter: drop-shadow(
    rgba(0, 0, 0, 0.2) 0 10px 10px
  );
  
}

h4{
  font-size: 1.8rem;
  color: var(--lead);
}
.order-card .price{
  font-size: 1.7rem;
  color: var(--gold-finder);
  padding: 1.3rem 0 2rem 0 ;
}
/* cart tab */

.cart-tab {
  background: var(--hint-yellow);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 25rem;
  padding-block: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 99;
  box-shadow: rgba(0, 0, 0, 0.332) -10px -10px 20px;
  transform: translateX(100%);  /* hidden */
  transition: transform 0.3s ease-in-out;
}

.cart-tab-active {
  transform: translateX(0); /* slides in */
}


.cart-list{
  flex: 1;
  width: 100%;
  margin-top: 1.5rem;
  overflow: auto;

}

.cart-list::-webkit-scrollbar{
  width: 0;
}


.total-container{
  width: 100%;
  background: var(--gold-finder);
  text-align: center ;
  margin-block: 1rem;
  padding-block: 1rem;
}

.total-container h4{
  display: inline-block;
  font-size: 1.3rem;
  font-weight: 400;
}

.btn-container .btn{
  background: var(--lead);
  transition: .3s ease-in-out;
}

.btn-container .btn:hover{
  background: var(--gold-finder);
  color: var(--lead);
}

.item{
  display: flex;
  align-items: center;
  padding: .7rem 1rem;
  gap: 1rem;
  transition: all .3s ease-in-out;

}
.itme .slide-out{
  transform: translateX(50%);
}
.item .detail{
  flex: 2;
}

.item .item-image{
  width: 3.2rem;
}

.item h4{
  font-size: 1.3rem;
  color: var(--lead);
}

.item .item-total{
  font-weight: 400;
  margin-top: .3rem;
}

.quantity-btn{
  background: var(--lead);
  color: var(--pure-white);
  width: 1.7rem;
  aspect-ratio: 1;
  border-radius: 100rem;
  text-align: center;
  line-height: 1.7rem;
}

.quantity-value{
  font-size: 1.2rem;
  font-weight: 400;
  margin-inline: .6rem;
}


.cart-list .item:nth-child(even){
  background: var(--ey-ball);
}




/* section 3 */

.review-container{
  /* background-color: red; */
  width: 650px;
  max-width: 100%;
  flex: 1;
}

.swiper {
      width: 100%;
      height: 100%;
    }

.profile{
  width: 4rem;
  aspect-ratio: 1;
  border-radius: 100vw;
  overflow: hidden;
}

.profile img{
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.fa-star{
  color: var(--gold-finder);
}

.arrow{
  width: 2.5rem;
  aspect-ratio: 1;
  border-radius: 100vw;
  background: var(--gold-finder);
  color: var(--lead);
  text-align: center;
  line-height: 2.5rem;
}


/* section 4 */

.app-container{
  background: var(--hint-yellow);
  pad: 3rem 6rem;
  border-radius: 3rem;
  

}

.app-container .image-container img{
  width: 25rem;
}



.app-container h2{
  font-size: 4.5rem;
}




/* FOOTER */


.footer-container{
  margin-top: 10rem;
  padding-block:4rem;
  background: var(--hint-yellow);
}

.footer-container .flex{
  align-items: flex-start;
}

.footer-wrapper{
  flex: 1;
  flex-basis: 300px;

}

.footer-wrapper .social-icon {
  background: var(--pure-white);
}

.footer-wrapper .social-icon:hover{
  background: var(--lead);
  color: var(--pure-white);
}

.footer-link{
  color: gray;
  font-size: 1.1rem;
  transition: .3s ease-in-out;
}

.footer-link:hover{
  color: var(--lead);
}


























/* RESPONSIVE */



@media screen and (max-width: 780px){
  
  /* HEADER */

  .navlist,
  .desktop-action
  .btn
  {
    display: none;
  }
  
  .desktop-action .hamburger{
    display: block;
  }
  .mobile-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    position: absolute;
    top: 20%;
    left: -100%;
    transform: translateX(-50%);
    width: 20rem;
    padding: 2rem;
    background-color: var(--pure-white);
    border: .1rem solid var(--gold-finder);
    border-radius: 2rem;
    box-shadow:  rgba(0, 0, 0, 0.223) 8px 8px 8px,
     rgba(0, 0, 0, 0.223) 8px 8px 8px inset;
    transition: all 0.5s ease-in-out;
  }
  .mobile-menu-active{
    left: 50%;
    transform: translateX(-50%);
  }


/* SECTION */


/* hero section */
h1{
  font-size: 3.6rem;

}

.content{
  padding-top: 3rem;
}

.gap-2{
  gap: 1.4rem;
}

.gap-4{
  gap: 4rem;
}

/* section1 */

h2{
  font-size: 3rem;
}

/* section 4 */

.app-container{
  padding: 2.2rem;

}

.app-container .content h2{
  font-size: 3.5rem;  
}





/* FOOTER */

}